body{
	color: #636363 !important;
    background: #f5f5f5;
}
img{
	max-width: 100%;
}
a,a:hover{
	text-decoration: none;
	color: #636363 !important;
}
.checkbok-wisata{
    
}
.rate{
    color: #00a680 !important;
    font-size: 18px !important;
    top: 3px !important;
    width: 14px;
    cursor: pointer;
}
.add_plus::after{
    content: ' + ';
}
.add_plus:last-child::after{
    content: '';
}
.note-editable{
    height: 300px !important;
}
.bg-gray{
    background: #f1f1f1;
}
.form-error,.form-error:focus{
    border: 1px solid red !important;
}
.disabled{
    pointer-events: none !important;
}
.pagination>li span,.pagination>li a{
    border: none !important;
    background: transparent !important;
    font-weight: 600;
}
.pagination>.active>span{
background: #00a680 !important;
    border-radius: 6px; 
}
.carousel-caption a{
    background: rgba(0, 0, 0, 0.2);
    padding: 3px 20px;
    color: white !important;
    border-radius: 8px;
}
/*
===========================
Default App
===========================
*/
.profile-user{
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    border-radius: 50%;
}
.profile-navbar-app{
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    border-radius: 50%;
}
.form-login-app{
    background: white;
    width: 43rem;
    margin: 0 auto;
    margin-top: 10px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    height: calc(100vh - 43px);
    padding: 77px 55px 33px 55px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}
.form-login,.form-login:focus,.has-error .form-control:focus{
        outline: none !important;
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-size: 16px;
    border-bottom: 2px solid #d0d0d0;
}
.form-login::placeholder{
    font-size: 16px;
    padding-bottom: 2px;
}
.btn-app-login{
    background: #00a680;
    border: none;
    border-radius: 30px;
    color: white;
}
.color-app{
    color: #00a680 !important;
}
.bg-app{
    background: #00a680 !important;
}
.btn-app{
    background: #00a680;
    color: white !important;
}
.btn-app:hover{
    color: white !important;
    background: #008e6d;
}
.menu-app a:hover,.menu-app a.active{
    color: #00a680 !important;
}
.container-app{
	width: 90%;
	margin: 0 auto;
}
.container-app.mt-4{
    min-height: calc(100vh - 141px);
}
.slider-app img{
	width: 100%;
	height: 40rem !important;
	object-fit: cover;
}
.search-app{
	position: absolute;
    margin: 10px 50px;
}
.form-app, .form-app:focus{
    border-radius: 30px;
    height: 50px;
    border: 1px solid #00a680;
    outline: none;
    box-shadow: none;
    padding-left: 19px;
    font-size: 17px;
    background: rgba(255, 255, 255, 0.5);
    color: white;
}
.form-app::placeholder{
    color: white;
}
.btn-search-app{
    height: 50px;
    border-radius: 0px 30px 30px 0px;
    width: 110px;
    border: 1px solid #00a680 !important;
    background: #00a680;
    color: white;
    box-shadow: none !important;
    outline: none !important;
}
.btn-search-app a{
    color: white !important;
}
.btn-search-app:hover{
    background: #008e6d;
    color: white !important;	
}
.section-app{
    background: white;
    border:1px solid #e5e5e5;
    padding: 10px;
}
.title-section-app{
    text-align: justify;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 22px;
    font-weight: 600;
    padding: 10px 0px;
    color: #2f2f2f;
}
.border-bottom{
    border-bottom: 1px solid #a5a5a5;
}
/*
===========================
Navbar & Footer
===========================
*/
.navbar-app{
    background: white !important;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    color: black !important;
}
.navbar-app a {
    color: black !important;
}
footer{
	background: #ececec;
    padding: 10px 0px;
    margin-top: 30px;
}
.footer{
	width: 90%;
	margin: 0 auto;
}
/*
============================
Thumb
============================
*/
.thumb-desc{
	text-align: justify;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
    height: 98px;
}
.thumb-desc p,.thumb-desc span,.thumb-desc h1,.thumb-desc h2,.thumb-desc h3,.thumb-desc h4,.thumb-desc h5,.thumb-desc strong,.thumb-desc b{
    font-size: 14px !important;
    line-height: 20px !important;
    margin: 0 !important;
    font-family: inherit !important;
    color: #636363 !important;
    font-weight: 3 !important;
        display: inline !important;
}
.thumb-title,.thumb-title-2 div,.thumb-title-3{
	text-align: justify;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;	
}
.thumb-title-2{
    position: relative;
    background: #00000061;
    bottom: 52px;
    padding: 4px 10px;
    color: white;
}
.thumb-title-3{
    position: relative;
    background: #00000061;
    bottom: 41px;
    padding: 10px;
    color: white;
}
.thumb-title-2 .rate{
    color: white !important;
}
.thumb-img img{
	height: 21rem;
    width: 100%;
    object-fit: cover;
}
.thumb-img img:hover{
	filter: brightness(50%);
	transition: 0.2s;
}
/*
==============================
    Image
==============================
*/
.profile-ulasan{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.thumbnail-img{
    height: 9rem;
    width: 9rem;
    object-fit: cover;    
}
.btn-add-img{
    display: inline-block;
    height: 9rem;
    background: #e0e0e0;
    width: 9rem;
    line-height: 91px;
    text-align: center;
    font-size: 37px;
    color: #9e9e9e;
    cursor: pointer;
}
.img-view{
    display: inline-block;
    height: 9rem;
    width: 9rem;
    margin-right: 1rem;
    -ms-flex-positive: 1;
    max-width: 100%;
}
.del-img{
    text-align: center;
    position: relative;
    bottom: 54px;
    margin: 0px 16px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    opacity: 0;
}
.img-view:hover img{
    filter: brightness(50%);
    transition: 0.2s;
}
.img-view:hover .del-img{
    opacity: 1;
    transition: 0.2s;
}
.admin-view-sampul{
    height: 13rem;
    width: 25rem;
    object-fit: cover;
}
/*
============================
Profile
============================
*/
.col-profile-user{
    width: 30rem;
    margin: 0 auto;
    background: white;
    padding: 20px 10px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 769px) {
    .p-l-sm-2{
        padding-left: 2rem !important;
    }
}

.collapse-link[aria-expanded="true"]{
    background: transparent !important;
}
.collapse-link[aria-expanded="false"]::before, a[aria-expanded="true"]::before{
    right: -10px !important;
}